@media (max-width: 1200px){

    .cabecalho{
        padding: 5% 0 0 0;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao_informacoes{
        padding: 0;
        width: 100%;
    }

    .foto-perfil{
        width: 50%;
    }

}

@media (max-width: 600px) {
    .filtro-menu {
        flex-direction: column;
        align-items: center;
    }
    .filtro-menu button {
        width: 100%;
    }
}